*, ::after, ::before {
    box-sizing: border-box;
}
    
body{
    margin: 0;
    background-color: rgb(113, 168, 150);
}
.nav {
    background-color: black;
}

.navbar-link{
    color: #fff !important;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.form{
    background-color: black;
}

.form__label{
    color: #fff !important;
}

.form__blockResultat{
    display: flex !important;
}
    .form__blockResultat-resultat{
        background-color: rgb(113, 168, 150);
        border: 1px solid rgb(113, 168, 150);
    }

.btn__add{
    background-color: #fff;
    text-transform: capitalize;
}

.btn__add:hover{
    background-color: rgb(113, 168, 150);
}

.btn__delete{
    font-size: 15px !important;
    background-color: rgb(184, 40, 40);
    padding: 5 !important;
    margin-top: 10px !important;
}

.messageAlert{
    border: 2px solid red;
}
